<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Simple Admin</title>

    {% block stylesheets %}
        {% stylesheets
        'bundles/simpleadmin/components/bootstrap/less/bootstrap.less'
        'bundles/simpleadmin/css/desktop.css'
        'bundles/simpleadmin/css/styleMenu.css'
        filter='cssrewrite'
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
    {% endblock %}

    {#{% javascripts
    'bundles/simpleadmin/components/jquery/jquery.min.js'
    'bundles/simpleadmin/components/angular/angular.min.js'
    'bundles/simpleadmin/js/center/jquery.center.js'
    'bundles/simpleadmin/js/simpleMenu/simple-menu.js'
    'bundles/simpleadmin/js/desktop.js'
    'bundles/simpleadmin/js/misc.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}#}

    <script
            data-main="{{ asset('bundles/simpleadmin/js/main.js') | slice(0, -3) }}"
            src="{{ asset('bundles/simpleadmin/js/require.js') }}">
    </script>

    <script type="text/javascript">
        $(document).ready(function(){
            initializeDesktop();
            $(window).bind("resize",function(){
                initializeDesktop();
            });
            $(".sidebarmenu").simpleMenu();
            $("#btn_logout").bind("click",function(){
                logout();
            });
        });
    </script>
</head>
<body>
<div id="wrapper">
    <div id="content">
        <div id="desktop">
            <ul class="sidebarmenu" id="sidebarmenu">
                <li>Item1</li>
                <li>Item2</li>
            </ul>
            {{ path('api_get_info_test_rest',{}) }}
            <div id="desktop_bottom_bar">
                <div id="desktop_bottom_bar_content">
                    <div class="button start" ><div class="button_text"><span>{{ "Start" | trans }}</span></div></div>
                    <div id="task_bar"></div>
                    <div id="clock"></div>
                    <div id="btn_logout"></div>
                    <div class="version">0.0.1</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>